<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <!-- Comment the following part to start a whole eclipse application for testing. --> 
   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="net.sourceforge.tsmtest.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="net.sourceforge.tsmtest.Perspective"
            icon="icons/iconTSM.png"
            id="net.sourceforge.tsmtest.perspective"
            name="TSM">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="tsm.category"
            name="TSM">
      </category>
      <view
            category="tsm.category"
            class="net.sourceforge.tsmtest.gui.quickview.view.Quickview"
            id="net.sourceforge.tsmtest.gui.quickview.view.quickview"
            name="%view.name"
            restorable="true">
      </view>
      <view
            category="tsm.category"
            class="net.sourceforge.tsmtest.gui.navigator.TSMNavigator"
            icon="icons/iconTSM.png"
            id="net.sourceforge.tsmtest.gui.navigator.TSMNavigator"
            name="%view.name.0">
      </view>
      
      <view
            allowMultiple="false"
            category="tsm.category"
            class="net.sourceforge.tsmtest.gui.filter.FilterView"
            id="net.sourceforge.tsmtest.gui.filter.Filter"
            name="%filter.name">
      </view>
      
      <!--
      <view
            category="tsm.category"
            class="net.sourceforge.tsmtest.gui.graph.view.GraphView"
            id="net.sourceforge.tsmtest.gui.graph.view.graphview"
            name="Graph View"
            restorable="true">
      </view>
      -->
      <view
            allowMultiple="false"
            category="tsm.category"
            class="net.sourceforge.tsmtest.gui.summary.view.ViewSummary"
            id="net.sourceforge.tsmtest.gui.summary.view.viewsummary"
            name="%summary.name"
            restorable="true">
      </view>
      <!--
      <view
            allowMultiple="false"
            category="tsm.category"
            class="net.sourceforge.tsmtest.gui.filter.FilterView"
            id="net.sourceforge.tsmtest.gui.filter.Filter"
            name="%filter.name">
      </view>
      -->
   </extension>
   <!--
   <extension
         id="menu:new?after=additions"
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:obsolete">
         <command
               commandId="net.sourceforge.tsmtest.ui.newProject.command"
               icon="icons/alt_window_16.gif"
               label="%command.label"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="true">
                  <equals
                        value="false">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="net.sourceforge.tsmtest.ui.newPackage.command"
               icon="icons/package.png"
               label="%command.label.0"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="net.sourceforge.tsmtest.perspective">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="net.sourceforge.tsmtest.ui.newtestcase.command"
               icon="icons/testcase_TSM.png"
               label="%command.label.1"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="true">
                  <equals
                        value="false">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="net.sourceforge.tsmtest.gui.runtest.open"
               label="%command.label.2"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI="org.eclipse.jdt.ui.PackageExplorer">
         <command
               commandId="net.sourceforge.tsmtest.gui.overview.view.openview"
               label="Open Overview"
               style="push">
         </command>
      </menuContribution>
   </extension>-->
   <!-- <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="net.sourceforge.tsmtest.preferences.PreferencePage"
            id="tsm.preferences.PreferencePage"
            name="TSM Preferences">
      </page>
   </extension> !-->
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="net.sourceforge.tsmtest.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="net.sourceforge.tsmtest.perspective">
         <newWizardShortcut
               id="net.sourceforge.tsmtest.wizards.new.TSMProjectWizard">
         </newWizardShortcut>
         <newWizardShortcut
               id="net.sourceforge.tsmtest.wizards.new.TSMPackageWizard">
         </newWizardShortcut>
         <newWizardShortcut
               id="net.sourceforge.tsmtest.wizards.NewTestcaseWizard">
         </newWizardShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               id="net.sourceforge.tsmtest.gui.navigator.TSMNavigator"
               ratio="0.5"
               relationship="stack"
               relative="org.eclipse.ui.navigator.ProjectExplorer">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="net.sourceforge.tsmtest.gui.report.ViewReport"
            icon="icons/report.png"
            id="net.sourceforge.tsmtest.gui.report"
            name="%editor.name">
         <contentTypeBinding
               contentTypeId="net.sourceforge.tsmtest.contenttype.testcaseprotocol">
         </contentTypeBinding>
      </editor>
      <editor
            class="net.sourceforge.tsmtest.gui.newtestcase.view.ViewTestCase"
            default="true"
            icon="icons/testcase_TSM.png"
            id="net.sourceforge.tsmtest.gui.newtestcase.view.viewtestcase"
            name="%editor.name.0">
         <contentTypeBinding
               contentTypeId="net.sourceforge.tsmtest.contenttype.testcase">
         </contentTypeBinding>
      </editor>
      <editor
            class="net.sourceforge.tsmtest.gui.runtest.view.EditorRunTest"
            icon="icons/testcase_run_TSM.png"
            id="net.sourceforge.tsmtest.gui.runtest.view.editorruntest"
            name="%editor.name.1">
         <contentTypeBinding
               contentTypeId="net.sourceforge.tsmtest.contenttype.testcase">
         </contentTypeBinding>
      </editor>
      <!--
      <editor
            class="net.sourceforge.tsmtest.gui.report.Test"
            id="net.sourceforge.tsmtest.gui.report.Test"
            name="New MultiPageEditorPart">
      </editor>
      <editor
            class="net.sourceforge.tsmtest.gui.report.Test"
            id="net.sourceforge.tsmtest.gui.report.Test"
            name="New EditorPart">
      </editor>
      -->
      <editor
            class="net.sourceforge.tsmtest.gui.overview.view.Overview"
            default="false"
            icon="icons/testcase_TSM.png"
            id="net.sourceforge.tsmtest.gui.overview.view.overview"
            name="%overview.name">
         <contentTypeBinding
               contentTypeId="net.sourceforge.tsmtest.contenttype.testcase">
         </contentTypeBinding>
         <contentTypeBinding
               contentTypeId="net.sourceforge.tsmtest.contenttype.testcaseprotocol">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         id="tsm.contenttype"
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="xml"
            id="net.sourceforge.tsmtest.contenttype.testcase"
            name="%testcase.name"
            priority="normal">
         <describer
               class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber2">
            <parameter
                  name="element"
                  value="tsmtestcase">
            </parameter>
         </describer>
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="xml"
            id="net.sourceforge.tsmtest.contenttype.testcaseprotocol"
            name="%protocol.name"
            priority="normal">
         <describer
               class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber2">
            <parameter
                  name="element"
                  value="tsmtestcaseprotocol">
            </parameter>
         </describer>
      </content-type>
   </extension>
    <extension
          point="org.eclipse.ui.newWizards">
       <category
             id="net.sourceforge.tsmtest"
             name="TSM ">
       </category>
       <wizard
             category="net.sourceforge.tsmtest"
             class="net.sourceforge.tsmtest.wizards.NewTestcaseWizard"
             finalPerspective="net.sourceforge.tsmtest.perspective"
             icon="icons/testcase_TSM.png"
             id="net.sourceforge.tsmtest.wizards.NewTestcaseWizard"
             name="%wizard.name">
       </wizard>
       <wizard
             category="net.sourceforge.tsmtest"
             class="net.sourceforge.tsmtest.wizards.ProjectWizard"
             finalPerspective="net.sourceforge.tsmtest.perspective"
             icon="icons/project_TSM.png"
             id="net.sourceforge.tsmtest.wizards.new.TSMProjectWizard"
             name="%wizard.name.0"
             project="true">
       </wizard>
       <wizard
             category="net.sourceforge.tsmtest"
             class="net.sourceforge.tsmtest.wizards.PackageWizard"
             finalPerspective="net.sourceforge.tsmtest.perspective"
             icon="icons/package.png"
             id="net.sourceforge.tsmtest.wizards.new.TSMPackageWizard"
             name="%wizard.name.1">
       </wizard>
    </extension>
    <extension
          point="org.eclipse.ui.activities">
       <activity
             id="net.sourceforge.tsmtest.rights.disable"
             name="Rights Disabler">
          <enabledWhen>
             <test
                   property="net.sourceforge.tsmtest.isTestManager">
             </test></enabledWhen>
       </activity>
       <activityPatternBinding
             activityId="net.sourceforge.tsmtest.rights.disable"
             pattern=".*/net.sourceforge.tsmtest.wizards.NewTestcaseWizard">
       </activityPatternBinding>
       <activityPatternBinding
             activityId="net.sourceforge.tsmtest.rights.disable"
             pattern=".*/net.sourceforge.tsmtest.wizards.new.TSMProjectWizard">
       </activityPatternBinding>
    </extension>
    <extension
          point="org.eclipse.core.expressions.propertyTesters">
       <propertyTester
             class="net.sourceforge.tsmtest.TSMPropertyTester"
             id="net.sourceforge.tsmtest.TSMPropertyTester"
             namespace="net.sourceforge.tsmtest"
             properties="isTester,isTestManager,isSelectionTestCase"
             type="java.lang.Object">
       </propertyTester>
    </extension>
	 <extension 
   		id="net.sourceforge.tsmtest.datamodel.TSMNature" 
   		name="TSM Nature" 
   		point="org.eclipse.core.resources.natures"> 
      	<runtime> 
       		<run class="net.sourceforge.tsmtest.datamodel.TSMNature"/> 
      	</runtime> 
   </extension>
<extension
         point="org.eclipse.ui.handlers">
 	<handler
     	class="net.sourceforge.tsmtest.handlers.TextEditHandler"
        commandId="org.eclipse.ui.edit.paste">
     <activeWhen>
    	<with variable="activeEditorId">
       		<equals value="net.sourceforge.tsmtest.gui.newtestcase.view.ViewTestCase"/>
    	</with>
     </activeWhen>
    </handler>
</extension>
<extension 
       point="org.eclipse.ui.exportWizards"> 
       <category
             id="net.sourceforge.tsmtest.pdf"
             name="TSM">
       </category>
      <wizard
            category="net.sourceforge.tsmtest.pdf"
            class="net.sourceforge.tsmtest.wizards.PdfWizard"
            id="PDF file"
            icon="icons/iconTSM.png"
            name="%wizard.name.2"> 
         <selection class="org.eclipse.core.resources.IFile"/> 
      </wizard> 
   </extension> 
   <extension 
       point="org.eclipse.ui.importWizards"> 
       <category
             id="net.sourceforge.tsmtest.justus"
             name="TSM">
       </category>
      <wizard
            category="net.sourceforge.tsmtest.justus"
            class="net.sourceforge.tsmtest.wizards.JustusImportWizard"
            id="Justus file"
            icon="icons/iconTSM.png"
            name="%wizard.name.3"> 
         <selection class="org.eclipse.core.resources.IFile"/> 
      </wizard> 
   </extension>
<extension
      point="org.eclipse.ui.navigator.viewer">
   <viewerActionBinding
         viewerId="net.sourceforge.tsmtest.gui.navigator">
      <includes>
         <actionExtension
               pattern="org.eclipse.ui.navigator.resources.*">
         </actionExtension>
         <actionExtension
               pattern="net.sourceforge.tsmtest.wizards.*">
         </actionExtension>
      </includes>
   </viewerActionBinding>
   <viewerContentBinding
         viewerId="net.sourceforge.tsmtest.gui.navigator">
      <includes>
         <contentExtension
               pattern="org.eclipse.ui.navigator.resourceContent">
         </contentExtension>
         <contentExtension
               pattern="org.eclipse.ui.navigator.resources.filters.*">
         </contentExtension>
         <contentExtension
               pattern="org.eclipse.ui.navigator.resources.linkHelper">
         </contentExtension>
         <contentExtension
               pattern="org.eclipse.ui.navigator.resources.workingSets">
         </contentExtension>
         <contentExtension
               isRoot="false"
               pattern="org.eclipse.ui.tsm.navigator.testCaseContent">
         </contentExtension>
      </includes>
   </viewerContentBinding>
   <viewer
         viewerId="net.sourceforge.tsmtest.gui.navigator">
   </viewer>
   <viewerContentBinding
         viewerId="org.eclipse.ui.navigator.ProjectExplorer">
      <includes>
         <contentExtension
               pattern="net.sourceforge.tsmtest.imageFilter">
         </contentExtension>
      </includes>
   </viewerContentBinding>
</extension>
<extension  
  point="org.eclipse.ui.navigator.navigatorContent">
 <commonWizard
       type="new"
       wizardId="net.sourceforge.tsmtest.wizards.NewTestcaseWizard">
    <enablement>
       <or>
          <adapt
                type="org.eclipse.core.resources.IFile">
          </adapt>
          <adapt
                type="org.eclipse.core.resources.IFolder">
          </adapt>
          <adapt
                type="org.eclipse.core.resources.IProject">
          </adapt>
          <adapt
                type="org.eclipse.core.resources.IWorkspaceRoot">
          </adapt>
       </or>
    </enablement>
 </commonWizard>   
 <commonWizard
            type="new"
            wizardId="net.sourceforge.tsmtest.wizards.new.TSMPackageWizard">
  <enablement>
   <or>
    <adapt type="org.eclipse.core.resources.IFile" /> 
    <adapt type="org.eclipse.core.resources.IFolder" />
           <adapt type="org.eclipse.core.resources.IProject" /> 
             <adapt type="org.eclipse.core.resources.IWorkspaceRoot" /> 
   </or>
  </enablement>
 </commonWizard>
 <commonWizard
       type="new"
       wizardId="net.sourceforge.tsmtest.wizards.new.TSMProjectWizard">
    <enablement></enablement>
 </commonWizard>
 <commonWizard
       type="import"
       wizardId="Justus file">
    <enablement>
       <or>
          <adapt
                type="org.eclipse.core.resources.IFile">
          </adapt>
          <adapt
                type="org.eclipse.core.resources.IFolder">
          </adapt>
          <adapt
                type="org.eclipse.core.resources.IProject">
          </adapt>
          <adapt
                type="org.eclipse.core.resources.IWorkspaceRoot">
          </adapt>
       </or>
    </enablement>
 </commonWizard>
 <commonWizard
       type="export"
       wizardId="PDF file">
    <enablement>
       <or>
          <adapt
                type="org.eclipse.core.resources.IFile">
          </adapt>
          <adapt
                type="org.eclipse.core.resources.IFolder">
          </adapt>
          <adapt
                type="org.eclipse.core.resources.IProject">
          </adapt>
          <adapt
                type="org.eclipse.core.resources.IWorkspaceRoot">
          </adapt>
       </or>
    </enablement>
 </commonWizard>
 <navigatorContent
       activeByDefault="true"
       icon="icons/testcase_TSM.png"
       id="org.eclipse.ui.tsm.navigator.testCaseContent"
	   contentProvider="net.sourceforge.tsmtest.datamodel.providers.TSMHierarchyContentProvider"
       labelProvider="net.sourceforge.tsmtest.datamodel.providers.TSMResourceLabelProvider"   
       sorter="org.eclipse.ui.navigator.resources.internal.workbench.ResourceSorter"
       name="Test Case Contents"
       priority="normal">
         <triggerPoints>
         	<or>
    <instanceof
          value="org.eclipse.core.resources.IWorkspaceRoot">
    </instanceof>
    <instanceof
          value="net.sourceforge.tsmtest.datamodel.providers.TSMRootElement">
    </instanceof>
    <instanceof
          value="net.sourceforge.tsmtest.datamodel.TSMResource">
    </instanceof>
			</or>
         </triggerPoints>
         <possibleChildren>
            <or>
               <instanceof
                     value="net.sourceforge.tsmtest.datamodel.TSMResource">
               </instanceof>
               <instanceof
                     value="net.sourceforge.tsmtest.datamodel.providers.TSMRootElement">
               </instanceof>
            </or>
         </possibleChildren>
 </navigatorContent>
 <commonFilter
       activeByDefault="true"
       class="net.sourceforge.tsmtest.TSMImageContentFilter"
       description="%commonFilter.description"
       id="net.sourceforge.tsmtest.imageFilter"
       name="%commonFilter.name"
       visibleInUI="true">
 </commonFilter>
</extension>
<extension
      point="org.eclipse.ui.ide.projectNatureImages">
   <image
         icon="icons/project_TSM.png"
         id="net.sourceforge.tsmtest.image"
         natureId="net.sourceforge.tsmtest.datamodel.TSMNature">
   </image>
</extension>
<extension
      point="org.eclipse.ui.commands">
   <command
         defaultHandler="net.sourceforge.tsmtest.gui.overview.handler.OpenOverview"
         id="net.sourceforge.tsmtest.gui.overview.view.openoverview"
         name="%command.name">
   </command>
</extension>
<extension
      point="org.eclipse.ltk.core.refactoring.renameParticipants">
   <renameParticipant
         class="net.sourceforge.tsmtest.rename.Rename"
         id="rename"
         name="rename">
      <enablement>
         <instanceof
               value="net.sourceforge.tsmtest.datamodel.TSMResource">
         </instanceof>
         </enablement>
   </renameParticipant>
</extension>
<extension
      point="org.eclipse.ui.decorators">
   <decorator
         class="net.sourceforge.tsmtest.datamodel.providers.PackageExplorerLabelProvider"
         id="net.sourceforge.tsmtest.datamodel.providers.PackageExplorerLabelProvider"
         label="TSM Label Provider"
         lightweight="false"
         state="true">
      <enablement>
         <or>
            <objectClass
                  name="org.eclipse.core.resources.IResource">
            </objectClass>
         </or>
      </enablement>
   </decorator>
</extension>
<extension
      id="TSM"
      point="org.eclipse.core.runtime.products">
   <product
         application="net.sourceforge.tsmtest.application"
         name="TSM">
      <property
            name="windowImages"
            value="icons/icon32.png">
      </property>
      <property
            name="aboutImage"
            value="icons/iconTSM.png">
      </property>
      <property
            name="appName"
            value="TSM">
      </property>
      <property
            name="aboutText"
            value="Testsuite-Management Version 1.5.2&#x0A;Authors: Albert Flaig, Daniel Hertl, Tobias Hirning, Verena Käfer, Wolfgang Kraus, Florian Krüger, Jenny Krüwald and Bernhard Wetzel.&#x0A;&#x0A;https://sourceforge.net/projects/tsmtest/">
      </property>
   </product>
</extension>
<extension
      point="org.eclipse.ui.menus">
   <menuContribution
         allPopups="false"
         locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
      <command
            commandId="net.sourceforge.tsmtest.gui.overview.view.openoverview"
            label="%command.label.3"
            style="push">
      </command>
   </menuContribution>
</extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="net.sourceforge.tsmtest.gui.help.Help"
            description="%command.description"
            id="net.sourceforge.tsmtest.gui.help"
            name="%command.name.0">
         <defaultHandler
               class="net.sourceforge.tsmtest.gui.help.Help">
            <parameter
                  name="net.sourceforge.tsmtest.parameter1"
                  value="net.sourceforge.tsmtest.parameter1">
            </parameter>
         </defaultHandler>
      </command>
   </extension>
<extension
   point="org.eclipse.ui.menus">
   <menuContribution
      locationURI="menu:org.eclipse.ui.main.menu?after=help">
      <menu
         label="%help.name.2">
         <command
            commandId="net.sourceforge.tsmtest.gui.help"
            label="%help.name.1"
            style="push">
         </command>
      </menu>
   </menuContribution>
</extension>
</plugin>
